body{
	position: relative;
	height: 2000px;
}


.mydiv{
	width: 60%;
	height: 500px;
	margin: 100px auto;
	background: rgb(63, 19, 165);
	color: #FFF;
	border-radius: 20px;
	box-shadow: 0 0 7px 0px #511414;
	text-align: center;
	line-height: 200px;
	opacity: .1;
	transition: all 1s ease;
	
}

.active{
	opacity: 1;
}